<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head_content %}{% endblock %}

    {% load static %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<!--    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>-->
</head>
<body>
{% include "nav.html" %}

<div class="container mt-1">
    {% block container %}
    {% endblock %}
</div>
</body>
</html>