{% load static %}
<nav class="navbar navbar-expand-lg">
    <div class="container">

        <a class="navbar-brand pr-5" style="border-right: 1px solid #efefef; color: black" href="">
            <p class="m-0">CSV Administration</p>
        </a>

<!--        <div class="collapse navbar-collapse">-->
<!--            <ul class="navbar-nav mr-auto">-->

<!--                <li class="nav-item" >-->
<!--                    <a href="" style="color: black">-->
<!--                        <p>Holita</p>-->
<!--                    </a>-->
<!--                </li>-->

<!--                <li class="nav-item nav-icon">-->
<!--                    <a href="">-->
<!--                        <i class="fas fa-plus"></i>-->
<!--                    </a>-->
<!--                </li>-->

<!--                <li class="nav-item nav-icon">-->
<!--                    <a href="">-->
<!--                        <i class="fas fa-sign-out-alt"></i>-->
<!--                    </a>-->
<!--                </li>-->

<!--            </ul>-->
<!--        </div>-->
    </div>
</nav>