{% extends "base.html" %}

{% block head_content %}
<title>Datasets Management</title>
{% endblock %}

{% block container %}
<h2 style="text-align: center">Rows Viewer</h2>
<h3>Search Rows</h3>
<form action="/api/v1/rows/" method="GET">
    {% csrf_token %}
    {# dataset id field #}
    <div class="form-group">
        <label><strong>Dataset ID</strong></label>
        <input
                class="form-control"
                type="number"
                name="dataset_id"
                placeholder="Dataset ID"
                required
        >
    </div>
    {# name field #}
    <div class="form-group">
        <label><strong>Filename (optional)</strong></label>
        <input
                class="form-control"
                type="text"
                name="name"
                placeholder="Filename"
        >
    </div>
    <button type="submit" class="btn btn-primary btn-block w-25 m-auto">Search</button>
</form>
<hr>
{% if data is not None %}
<h3>Dataset Rows</h3>
<table class="table mt-3">
    <thead>
    <tr>
        <th scope="col">Client ID</th>
        <th scope="col">Client Name</th>
        <th scope="col">Location</th>
    </tr>
    </thead>
    <tbody>
    {% for row in data %}
    <tr>
        <th scope="row">{{row.client_id}}</th>
        <td>{{row.client_name}}</td>
        <td>{{row.point}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<!--<nav>-->
<!--    <ul class="pagination justify-content-end">-->
<!--        {% if data.has_previous %}-->
<!--        <li class="page-item">-->
<!--            <a class="page-link" href="?page={{ data.previous_page_number }}">-->
<!--                Previous-->
<!--            </a>-->
<!--        </li>-->
<!--        {% endif %}-->
<!--        <li class="page-item">-->
<!--            <a class="page-link" href="#">-->
<!--                {{ data.number }} of {{ data.paginator.num_pages }}-->
<!--            </a>-->
<!--        </li>-->
<!--        {% if data.has_next %}-->
<!--        <li class="page-item">-->
<!--            <a class="page-link" href="?page={{ data.next_page_number }}">-->
<!--                Next-->
<!--            </a>-->
<!--        </li>-->
<!--        {% endif %}-->
<!--    </ul>-->
<!--</nav>-->
{% endif %}
{% endblock %}
