{% extends "base.html" %}

{% block head_content %}
<title>Datasets Management</title>
{% endblock %}

{% block container %}
<h2 style="text-align: center">Datasets Management</h2>
<h3>Upload File</h3>
<form enctype="multipart/form-data" action="/api/v1/datasets/" method="post">
    {% csrf_token %}
    {# Filename field #}
    <div class="form-group">
        <label><strong>Filename</strong></label>
        <input
                class="form-control {% if form.name.errors %}is-invalid{% endif %}"
                type="text"
                name="name"
                placeholder="Filename"
                required
        >
    </div>
    {# File field #}
    <div class="form-group">
        <label>Select File</label>
        <input
                type="file"
                name="file"
                required
        >
    </div>
    {% for error in form.file.errors %}
    <div class="alert alert-danger">
        <b>File: </b>{{ error }}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary btn-block w-25 m-auto">Submit File</button>
</form>
<hr>
<h3>Uploaded Files</h3>
<table class="table mt-3">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Filename</th>
        <th scope="col">Date(UTC)</th>
    </tr>
    </thead>
    <tbody>
    {% for row in data %}
    <tr>
        <th scope="row">{{row.id}}</th>
        <td>{{row.name}}</td>
        <td>{{row.date}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<nav>
    <ul class="pagination justify-content-end">
        {% if data.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ data.previous_page_number }}">
                Previous
            </a>
        </li>
        {% endif %}
        <li class="page-item">
            <a class="page-link" href="#">
                {{ data.number }} of {{ data.paginator.num_pages }}
            </a>
        </li>
        {% if data.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ data.next_page_number }}">
                Next
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}
