{% extends "base.html" %}

{% block head_content %}
<title>API Logs</title>
{% endblock %}

{% block container %}
<h2 style="text-align: center">Recent users information</h2>
<table class="table mt-3">
    <thead>
    <tr>
        <th scope="col">IP Address</th>
        <th scope="col">Date (UTC)</th>
        <th scope="col">User Information</th>
    </tr>
    </thead>
    <tbody>
    {% for row in data %}
    <tr>
        <th scope="row">{{row.ip_address}}</th>
        <td>{{row.date}}</td>
        <td>{{row.user}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<nav>
    <ul class="pagination justify-content-end">
        {% if data.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ data.previous_page_number }}">
                Previous
            </a>
        </li>
        {% endif %}
        <li class="page-item">
            <a class="page-link" href="#">
                {{ data.number }} of {{ data.paginator.num_pages }}
            </a>
        </li>
        {% if data.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ data.next_page_number }}">
                Next
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}
